@model IEnumerable<MVC_Assign.Models.Chaat>

@{
    ViewData["Title"] = "Chaat";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>
    th, td, p {
        font-size: xx-large;
    }

    body {
        background-color: turquoise;
    }
    .btn{
        position:absolute;
        left:80%;
    }

    h1 {
        color: lightyellow;
    }
</style>
<body>
    <div class="container  ">

        <h1>Chaat</h1>

        
        <table class="table table-dark table-hover blax">
            <thead>
                <tr>
                   <a button class="btn btn-success" asp-action="Drinks" asp-controller="Chats">Order Some Drinks</button></a>
                    <th>
                        @Html.DisplayNameFor(model => model.Cimage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cname)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Cprice)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="@Url.Content(item.Cimage)" height="200" width="200" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cname)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Cprice)
                        </td>
                        <td>
                            <button class="btn btn-outline-primary"> <a  asp-controller="Books" asp-action="ShipmentDet" asp-route-id="@item.Cid">Buy Food</a> </button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-outline-primary"> <a asp-controller="Books"asp-action="DetailItems" asp-route-id="@item.Cid">Preview Food</a></button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-outline-primary"> <a  asp-action="AddCart" asp-controller="Cart" asp-route-id="@item.Cid">Add to Cart</a></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>